body {
	margin: 0;
	overflow: hidden;
}

#instructions {
	position: absolute;
	color: #cfcfcf;
	bottom: 0;
	padding-bottom: 60px;
	font-family: sans-serif;
	width: 100%;
	text-align: center;
	text-decoration: none;

}